body {
    background-color: #4f5f7a;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
    border-bottom: 2px solid #e5e5e5;
}

#genepoolStats {
  color: #FFFFFF;
  font-weight: bold;
}

#genepoolStats p {
  margin: 0;
}
