body {
    display: flex;
    background-color: #4f5f7a;
}

.chickenRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#genepoolStats {
  color: #FFFFFF;
}

#genepoolStats p {
  margin: 0;
}