:root {
  --yellow: #f2c45a;
  --tan: #bfb35a;
  --mild-green: #88a65e;
  --med-green: #adeaae;
  --strong-green: #5e8c6a;
  --red: #8c2318;
  --light-grey: #666666;
  --light-grey-transparent: rgb(102,102,102, 0.3);
  --dark-grey: #444444;
}

body {
    background-color: var(--yellow);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    border-bottom: 2px dashed var(--light-grey-transparent);
}

.closeRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0 -10px 0;
}

#genepoolStats {
  color: #444444;
  font-weight: bold;
}

#genepoolStats p {
  margin: 0;
}

button:hover {
  opacity: 0.95;
}

.button {
  background-color: var(--light-grey);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 6px
}

.breedButton {
  background-color: var(--strong-green);
}

.killButton {
  background-color: var(--red);
}